target
zpaq
zpaqd
zpaqlpy
zpaqlpydebug
zpaqlpy-i686.exe
zpaqlpy.exe
src/grammar.rs
*.py~
*.py.swp
*.rs~
*.rs.swp

test/min.out
test/min.sub.pnm
test/splash.pypredict
test/splash.zpaqlpredict
test/testar.zpaq
test/testcase.origpy
test/testcase.origz
test/testcase.out
test/testcase.predictpy
test/testcase.predictz
test/testcase.simple
test/testcase.xy
test/xy.gen
test/xy.pnm
test/xy.prydict
test/empty.zpaq
test/dict_is_present.tmp
